*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size:2; 
    color:white;
    font-family: "Trebuchet MS";
    font-size: 30px;
}

h2{
    font-size:2; 
    color:black;
    font-family: "Trebuchet MS";
    font-size: 30px;
    padding-bottom: 25px;
}


body{
    background: url("imagenes/supermarket.jpg");
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:after{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);    
}

.error{
    position: relative;
    bottom: 20px;
    visibility:visible; 
    z-index:2;
    text-align: center;
    color:dodgerblue; 
    font-family: "Trebuchet MS";
}

form{
    margin: auto;
    position: relative;
    top: 50px;
    text-align: center;
    width: 35%;
    z-index: 1;
    background:rgba(255, 255, 255,0.80);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
    -khtml-opacity: 0.9;
    border-radius: 6px; 
    padding-top: 35px;
    height: 350px;
}

.input{display: block; padding: 5px; width:60%; font-size: 20px; margin-left: auto; margin-right: auto; margin-bottom: 15px; border-radius: 3px;
}

.input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.inputWithIcon input[type=text]:focus + i{
color:dodgerblue;
}

.inputWithIcon input[type=text]{
    padding-left: 25px;
}

.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    left: 20%;
    top: 4%;
    padding:9px 8px;
    color: #aaa;
}

.input[type=password]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.passIcon{
    position: relative;
}

.passIcon i{
    position: absolute;
    left: 20%;
    top: 4%;
    padding:10px 8px;
    color: #aaa;
}

.passIcon input[type=password]{
    padding-left: 25px;
}

.passIcon input[type=password]:focus + i{
    color:dodgerblue;
    }

.btn{background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    margin-top:10px;
    font-size: 20px;
    font-style: italic;
    font-family: helvetica;
    width: 60%;
    padding: 5px;
    position:relative;
    border-radius: 3px;}

.btn:hover {
        background-color: #28B463;
        color: white;
        border: 2px solid  #28B463;
        cursor: pointer;
      }

.form2{
    margin: auto;
    position: relative;
    top: 50px;
    text-align: center;
    width: 35%;
    z-index: 1;
    background:rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    border-radius: 6px; 
    padding-top: 35px;
    height: 350px;
}      

.btn-comenzar{
    background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    top: 10%;
    font-size: 20px;
    font-style: italic;
    font-family: helvetica;
    width: 70%;
    height: 15%;
    padding: 5px;
    position:relative;
    border-radius: 3px;    
}

.btn-comenzar:hover{
    background-color: #28B463;
    color: white;
    border: 2px solid #28B463;
    cursor: pointer;    
}

@media (max-width:1000px){
    form{
    width: 60%;
        }
    }

@media (max-width:700px){
        form{
        width: 90%;
            }
        }
      
